
.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f5f5f5; 
  text-align: center;
}

.nomatch {
  width: 100px; 
  height: 100px; 
  margin-bottom: 20px; 
}

.notfound {
  font-size: 24px;
  color: #333;
}

.navbar-nav .nav-link:hover {
  color: #c6a8a8;
}

.about{
  text-align: center;
}









